<div class="row">
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Item</th>
              <th scope="col">Quantity</th>
              <th scope="col">Price</th>
              <th scope="col">Total</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Item 1</th>
              <td>X 1</td>
              <td>12</td>
              <td>12</td>
            </tr>
            <tr>
              <th scope="row">Item 2</th>
              <td>X 1</td>
              <td>12</td>
              <td>12</td>
            </tr>
            <tr>
              <th scope="row">Item 3</th>
              <td>X 1</td>
              <td>12</td>
              <td>12</td>
            </tr>
          </tbody>
        </table>

        <!-- <ul class="list-group list-group-flush">
          <li class="list-group-item">Cras justo odio</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
          <li class="list-group-item">Morbi leo risus</li>
          <li class="list-group-item">Porta ac consectetur ac</li>
          <li class="list-group-item">Vestibulum at eros</li>
        </ul> -->

        <!-- <div class="row">
          <div class="col-sm-8" style="text-align: left">
            <p>Total :</p>
          </div>

          <div class="col-sm-4" style="text-align: right">
            <p>12312</p>
          </div>
        </div> -->

        <table class="table table-borderless">
          <tbody>
            <tr>
              <td style="width: 25%">Total : </td>
              <td style="text-align: left">12</td>
            </tr>
            <tr>
              <td style="width: 25%">CGST : </td>
              <td style="text-align: left">14%</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="col-sm-8">
    <div class="card">
      <div class="card-body">
        This is some text within a card body.
      </div>
    </div>
  </div>
</div>